@page
@model BulkyWebRazor_Temp.Pages.Categories.IndexModel
<div class="container">

    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Category List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="/Categories/Create" class="btn btn-primary">
                <i class="bi bi-plus-square"></i> Create
            </a>
        </div>
    </div>


    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Category Name
                </th>
                <th>
                    Category Display Index
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>

            @{
                var ordered = Model.Categories.OrderBy(u => u.DisplayIndex);
                foreach (var item in ordered)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.DisplayIndex
                        </td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-page="/Categories/Edit" asp-route-id="@item.Id" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square">Edit</i>
                                </a>
                                <a asp-page="/Categories/Delete" asp-route-id="@item.Id" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash">Delete</i>
                                </a>
                            </div>

                    </tr>
                }
            }

        </tbody>
    </table>
    @{
    }

</div>

