@model Product
<div>

    <section class="row">
        <div class="">
            <div class="">
                <div class="">
                    <div class="">
                        <div class="">
                            <h1 class="">@Model.Title</h1>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <h4 class="">250 Watt Electric Scooter</h4>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <h5 class="">Information:</h5>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <div class="">
                                <div class="">
                                    <h4 class="">
                                        <span>
                                            30 km
                                        </span>
                                    </h4>
                                    <p class="">
                                        BATTERY
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <div class="">
                                <div class="">
                                    <h4 class="">
                                        <span>
                                            13,5 kg
                                        </span>
                                    </h4>
                                    <p class="">
                                        WEIGHT
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <div class="">
                                <div class="">
                                    <h4 class="">
                                        <span>
                                            25 km/h
                                        </span>
                                    </h4>
                                    <p class="">
                                        SPEED
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <div class="">
                                <p class="">
                                    <span class="">
                                        <bdi><span class="">$</span>750.00</bdi>
                                    </span><a>Add to cart</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="">
                    <div class="">
                        <div class="">
                            <img>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="">
                    <div class="">
                        <div class="">
                            <h4 class="">Description</h4>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <p>The Fully Loaded Libero x250 is a High Performance, Extremely Durable, High Speed, Lightweight Electric Scooter with a Huge Battery</p>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <h6 class="">Share:</h6>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <div class="">
                                <span class="">
                                    <a class="">
                                        <span class="">Facebook</span>
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </span>
                                <span class="">
                                    <a class="">
                                        <span class="">Twitter</span>
                                        <i class=""></i>
                                    </a>
                                </span>
                                <span class="">
                                    <a class="">
                                        <span class="">Youtube</span>
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
